html {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    background-image:url("assets/images/bg.png");
    height:99%;
    width:100%;
    margin:0px;
    margin: 0;
}
input:focus {
    outline: 0 !important;
}
input {
    box-shadow: none;
    -moz-box-shadow: none;
}

.panel {
    background-image: url("assets/images/tool.png");
    padding: 5px 8px;
    margin: 5px;
    color: #c1c5c7;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: #000000 0px 0px 5px;
}

.panel .header {
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 11px;
    text-align: left;
}

.panel .content {
    background-color:#cacaca;
    border-top: 3px solid #222223;
    border-left: 3px solid #222223;
    border-right: 3px solid #222223;
    border-bottom: 3px solid #818283;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow:#808080 0px 0px 5px;
    box-shadow:#333333 0px 0px 10px inset;
}

.auth {
    height: 155px !important;
    text-align: center;
}
.auth .content {
    padding:40px 5px;
    font-weight: normal;
    font-size: 10px;
    color: #373737;
}

.top {
    position: absolute;
    left: 8px;
    right: 8px;
    top: 3px;
    bottom: 150px
}

.left{
    float:left;
}

.footer {
    left: 8px;
    right: 8px;
    height: 120px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.working {
    position:absolute;
    float:left;
    left:301px;
    right:220px;
    bottom:0px;
    top:0px;
}

.working .content {
    position: absolute;
    bottom: 35px;
    top: 20px;
    right: 0px;
    left: 0px;
    margin: 10px;
    overflow: scroll;
}

.working .footer {
    bottom: -100px;
}

.footer .content {
    float:left;
    color:#333333;
    height:130px;
    margin-right:5px;
}

.content .header {
    color: black;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color:#afafaf;
    box-shadow:#333333 0px -1px 5px inset;

}

.footer .header span {
    color:#810400;
}

.wine-color {
    color: #810400;
}

.footer .size {
    width:250px;
    font-size: 11px;

}

.footer .shadow {
    width: 310px;
}

.footer .modify {
    width: 290px;
}

.footer .color {
    position:absolute;
    left:840px;
    right:160px;
    visibility: hidden;

}

.footer .resources {
    float:right;
    width:130px;
    margin-right:0px;
}

.footer-panel {
    box-shadow: 0px 1px 5px #000;
    border-top: 4px solid #222223;
    border-left: 4px solid #222223;
    border-right: 4px solid #222223;
    border-bottom: 4px solid #818283;
    background-color: #ccc;
    border-radius: 10px;
    /* border-image: url(assets/images/footer-panel.png); */
    /* border-width: 0 10; */
    /* border-image-slice: 0 0 0 0 fill; */
    float: left;
    color: #333333;
    margin-right: 5px;
    height: 110px;
    padding-top: 3px;
    font-weight: bold;
}

.objects {
    position: absolute;
    right: 0px;
    width: 195px;
    top: 0px;
    bottom: 0px;
}

.objects .content {
    position: absolute;
    top: 30px;
    width: 185px;
    bottom: 40px;
    background-image: url(assets/images/object_panel_inside.png);
    background-size: 100% 100%;
    border-radius: 10px;
    border-width: 0px;
    background-color: transparent;
    padding: 8 5;
}

.logo {
    background-image: url("assets/images/logo.png");
    width: 287px;
    height: 72px;
    margin-top: -2px;
}

.form-control {

}

.tools {
    position: absolute;
    width: 276px;
    top: 66px;
    color: #C1C5C7;
    font-size: 11px;
    font-weight: bold;
    bottom: 100px;
    padding: 5px 5px !important;
}

.tools .button-wrapper {
    height: 18.5%;
    display: block;
    padding-bottom: 1px;
}

.tools .button {
    margin-bottom: 2px;
    max-width: 100%;
}

.tools .button img {
    width: 100%;
    height: 100%
}

.tools .button a {
    color: #B2B7B8;
    text-decoration: none;
    vertical-align: middle;
}

.tools .button .icon {
    width: 28px;
    height: 28px;
    margin-top: -10px;
    margin-right: 25px;
    float:right;
}

.icon-symbol {
    background-image:url("assets/images/add_symbols_icon.png");
}

.tools .button .icon-text {
    background-image:url("assets/images/add_text_icon.png");
}

.tools .button .icon-upload {
    background-image:url("assets/images/upload_image_icon.png");
    background-size: 29px 29px;
}

.tools .button .icon-download {
    background-image:url("assets/images/save_project_icon.png");
}

.tools .button .icon-save {
    background-image:url("assets/images/save_icon.png");
}




/* LOGIN PANEL*/

.login {
    position: absolute;
    width: 276px;
    height: 83px;
    bottom: 0px;
}

.panel.login input {
   padding-bottom: 0px;
}
.panel.login input[placeholder] {
    font-weight: bold;
    margin-bottom:0
}



/* Buttons */

.btn {
    background-size: 85px 25px;
    background-repeat: no-repeat;
    height: 25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #DDD;
    font-weight: bold;
    width: 85px;
    font-size: 12px;
}

.btn-blue {
    background-image:url("assets/images/register-button.png");

}

.btn-grey {
    background-image:url("assets/images/cancel.png");
}

.btn-green {
    background-image:url("assets/images/login-button.png");
}

.popups {
    top: 0px;
        left: 0px;
        margin: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        position:fixed;
    background-color: rgba(255, 255, 255, 0.4);
}

.popup {

    position: absolute;
        top: 0px; left: 0px; right: 0px; bottom: 0px;
    margin: auto;
    width:400px;
    height:500px;
}

.popup.popup-rename {
    height: 125px !important;
    width: 210px !important;
    position: fixed;
    left: 82%;
    top: -40%;
}

.popup.popup-rename .content {
    padding: 10px 2px 3px;
}
.popup.popup-rename .content .input {
    margin: 10px 3px 3px;
}
.popup.popup-rename input {
    width:100%;
    padding: 5px;
}

.popup .header {
    font-size:14px;
    color:#cecfd1;
}

.popup .header .title {
    padding-top:  5px;
}

.popup-footer {
    float: right;
    padding: 5px 0px;
}

.popup-fontselection {
    width:500px !important;
}
.popup-fontselection .content {
    height:88% !important; text-align:center !important;
}
.popup-fontselection .content a {
    text-decoration:none;
    padding: 5px;
    color: #000;
}
.popup-fontselection .content .fonts {
    height: 400px;
    overflow-y: scroll;
}
.popup-fontselection .content .fonts div {
    padding: 2px;
}
.popup-fontselection .content .fonts div h1 {
    padding: 2px;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
}
.popup-fontselection .content .fonts div:hover {
    background-color: #3c79bc;
}
.popup-fontselection .content a:hover {
    background-color: #a2cde8;
    border-radius: 4px 4px 0px 0px;
}
.popup-fontselection .content .separator {
    margin:10px;
}
.popup-fontselection .content .cats {
    padding: 8px 8px 6px 8px; background-color:#d0d0d0; border-radius:4px 4px 0px 0px; margin:1px 1px 5px 1px; text-align:left !important;
}
.popup-fontselection .popup-footer {
    width:66% !important;
}

.icon {
    top:5px;
    left:10px;
    width:24px;
    height:24px;
    background-size:contain;
    float:left;
    margin-right:5px;
}


.symbols {
    width: 880px;
    height:490px
}

.symbols .content {
    height: 428px;
}

.selected {
    background-color: #dbdbdb;
    border: 3px solid #333333;
}

.symbols .categories{
    width: 285px;
    float: left;
    margin-left: 5px;


}

.symbols .list{
     margin-left: 300px;
    margin-right: 5px;
}

.symbols-footer {
    float: right;
    margin: 8px

}

.content-header {
    color: #363636;
    font-size: 12px;
    font-weight: normal;
    height: 16px;
    padding: 4px;
    padding-left: 8px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color:#afafaf;
    box-shadow:#333333 0px -1px 5px inset;

}
.category-item {
    color: #363636;
    font-size: 12px;
    padding-left: 15px;
    width: 270px;
    height: 20px;
    padding-top: 8px;
}

.category-item-selected {
    background-color: aqua;
}
.category-item a {
    text-decoration:none;
}
.category-icon {
    vertical-align:middle;
    width: 24px;
    margin-top: -20px;
    float:right;
}


.category-item img {
    vertical-align:middle;
    width: 24px;
}

.category-item:hover {
    background-color: gray;
    text-decoration:none;
}
.category-list {
    padding-top: 10px;
}

.symbol-list {
 padding: 10px;
}

.symbol-item {
    width: 100px;
    height: 100px;
    padding: 10px;
        border-width: thick;
    border-style: solid;
    border-color: #cacaca;
    float: left;
}

.symbol-item img {
    width: 100%;
    height: 100%;
}

.symbol-item-selected {
    border-color: black;
}

.fade {
    transition: 0.3s linear all;
    opacity: 1;
}
.fade.ng-hide {
    opacity: 0;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}


.input {
    /* background-image: url(assets/images/objectInput.png); */
    background-color: #fff;
    color: #000;
    border: 1px solid #a5a6a6;
    border-radius: 5px;
    padding-left: 8px;
    padding-left:8px;
    -moz-box-shadow:    1px 1px 3px #a5a6a6 inset;
    -webkit-box-shadow: 1px 1px 3px #a5a6a6 inset;
    box-shadow:         1px 1px 3px #a5a6a6 inset;
    font-size: 10px;
}

.input input {
    border-width: 0px;
    background: transparent;
    font-size: 10px;
    color: #000;
}

.input.position {
    height: 25px;
    width: 79px;
}

.input.position input {
    height: 25px;
    width: 85px;
}

.input.shadow {
    height: 25px;
    width: 49px;
}

.input.shadow input {
    height: 25px;
    width: 51px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.object-position {
    float: left;
    margin-top: 5px;
    width: 49%;
    text-align: center;
    border-right: 1px solid #a5a5a5;
}

.object-size {
    float: right;
    margin-top: 5px;
    width: 50%;
    text-align: center;
}

.shadow.container,
.size.container,
.size.container,
.resources.container,
.modify.container {
     padding: 20px;
}
.shadow .container,
.size .container,
.size .container,
.resources .container,
.modify .container {
    padding: 4px 5px 0px 10px;
    background-color: #afafaf;
    margin-top: -3;
    border-radius: 7px 7px 0 0 !important;
}

.resources .container {
    padding-bottom:5px !important;
}
.symbolcolor .header, .textformat .header {
    padding: 4px 5px 5px 10px;
    background-color: #afafaf;
    margin-top: -3;
    border-radius: 7px 7px 0 0 !important;
}

.btn-on {
    background-image: url(assets/images/dark_checkbox_selected_up.png);
}

.btn-off {
    background-image: url(assets/images/dark_checkbox_up.png);
}

.eye-on {
    background-image: url(assets/images/check-color-image.png);
}

.eye-off {
    background-image: url(assets/images/no-color-image.png);
}

.eye {
    width: 40px;
    height: 25px;
}

.btn-onoff {
    float: right;
    width: 50px;
    height: 14px;
}

.shadow-picker {
    background-image: url(assets/images/DropdownColorPickerShadow.png);
    width: 102px;
    height: 24px;
    background-color: #bfbfbf;
    border-radius: 5px;
}

.shadow-direction {
    float: left;
    width: 58px;
    padding: 30px 10px;
}

.shadow-outset {
    float: left;
    width: 58px;
    padding: 30px 10px;
}

.shadow-color {
    float: left;
    width: 100px;
    padding: 30px 0px 0px 10px;
}


.fileupload {
    position: relative;
    overflow: hidden;
    background: ...; /* and other things to make it pretty */
}

.fileupload input {
    position: absolute;
    top: 0;
    right: 0; /* not left, because only the right part of the input seems to
                 be clickable in some browser I can't remember */
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0); /* and all the other old opacity stuff you
                                 want to support */
    font-size: 300px; /* wtf, but apparently the most reliable way to make
                         a large part of the input clickable in most browsers */
    height: 200px;
}



.addtext {
    height: 175px;
    width: 280px;
    padding: 5px;

}
.addtext .content {
    color: black;
    height: 90px;
    padding: 15px 5px 5px;
}

.addtext textarea {
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    height: 50px;
    padding: 5px;
    resize: none;
    width: 263px;
    border: 2px solid gray;
}

.welcome {
    height: 125px;

}

.welcome .content {
 padding: 10px;
}

.downloadlogo {
    height: 180px;
    width: 390px;
}
.downloadlogo .content {
    padding: 15px 15px 15px;
}


.column {
    float: left;
    width:50%;
}

.content {
    color: black;
}

.modify {
    text-align: center;
    width: 310px;
}

.modify-move {
    width: 72px;
    padding: 10px 5px;
    float: left;
}

.modify-moveup {
    position: relative;
    left: 21px;
    float: left;
}
.modify-moveleft {
    position: relative;
    left: -30px;
    top:23px;
    float: left;
}
.modify-moveright {
    position: relative;
    top: -10px;
    float: right;
}
.modify-movedown {
    position: relative;
    left: 21px;
    top: 12px;
    float: left;
}

.modify-scale {
    width: 40px;
    float: left;
    padding: 10px 5px;
}

.modify-rotate {
    width: 80px;
    float: left;
    padding: 10px 5px;
}

.modify-duplicate {
    width: 40px;
    float: left;
    padding: 14px 5px;
}

.inactive {
    opacity: 0.5;
}

.login input {
    background-color: transparent;
    border-width: 0px;
    width: 245px;
    height: 23px;
    margin-left: 30px;
    color:azure;
}

.login > a {
    float: left;
    margin-right: 0px;
}

.login-btns >div {
   float: right;
    margin-left: 5px;
}

.login-user {
    height: 23px;
    width: 275px;
    margin-bottom: 5px;
    background-image: url(assets/images/textfield_bg.png);
}

.login-pass {
    height: 23px;
    width: 275px;
    margin-bottom: 7px;
    background-image: url(assets/images/textfieldpwd_bg.png);
}


.object-item {
    width:175px;
    height:24px;
    padding-top: 10px;
    padding-left: 20px;
}

.object-active {
    background-image: url(assets/images/object_render_active.png);
    background-repeat: no-repeat;
    color: azure;
}

.popup-confirmation {
    height: 180px;

}

.popup-confirmation .content {
    height: 120px;

}

.font-active {
    background-image: url(assets/images/fontdialog/Selection-Bg.png);
    background-repeat: repeat-x;
}

.text-picker {
    background-image: url(assets/images/DropdownColorPickerTextForm.png);
    width: 149px;
    background-size: 150px 23px;
    height: 23px;
    border-radius: 5px;
}

.font-picker {
    background-image: url(assets/images/dark_button_up.png);
    width: 140px;
    background-size: 140px 25px;
    height: 24px;
}
.font-picker span {
    color: #fff;
    padding:7px;
}

.textformat {
    width: 230px;
    left: 840px;
    right: 161px;
}

.textformat .container {
    padding: 0px 10px;
}

.textformat .container span {
    float: left;
}


.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #f7f7c7 none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #000;
    color: #000;
    font-size: 9px;
    font-weight: 100;
    margin-left: 28px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}


.resources-content img {
    margin: 10 0 0 20;
}

.objects-footer {
    width:100%;
    position: absolute;
    bottom: 5;
}

.object-arrows {
    float: right;
    margin-right: 15px;
}

.object-arrows img {
    margin-right: -3;
}


.color-picker {
    background-image: url(assets/images/DropdownColorPickerTextForm.png);
    width: 159px;
    height: 29px;
    background-color: brown;
    border-radius: 5px;
    margin-left: 50px;
}

.symbolcolor {
    width: 250px;

}

.symbolcolor .container {
    padding: 10px;
    padding-top: 20px;
}

.symbolcolor .container span {
    float: left;
}

.symbolcolor .container .invisible-link {
    float: left;
    margin-left: 10px;
}


/* Tooltips */

.tooltip {
    background: #f7f7c7 none repeat scroll 0 0;
    box-shadow: 1px 1px 2px #808080;
    color: #000;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    font-size: 10px;
    font-weight: 100;
    border-radius: 2px;
    font-weight: 400;
    margin-left: 285px;
    margin-top: 35px;
    padding: 5px;
    width: 120px;
}

/* Modify object section */
.tooltip.md {
    margin-left: 10px;
    margin-top: 35px;
    padding: 5px;
    width: 180px;
}
.tooltip.md.up {
    margin-left: 10px;
    margin-top: 10px;
}
.tooltip.md.right {
    margin-left:10px;
    margin-top:25px;
}
.tooltip.md.down {
    margin-left: -10px;
    margin-top: 50px;
}
.tooltip.md.left {
    margin-left:-30px;
}
.tooltip.md.inc-obj-size {
    margin-left: 35px;
    margin-top: 15px;
}
.tooltip.md.dec-obj-size {
    margin-left: 35px;
    margin-top: 10px;
}
.tooltip.md.rot-obj-ccw {
    margin-left: 35px;
    margin-top: 15px;
}
.tooltip.md.rot-obj-cw {
    margin-left: 35px;
    margin-top: 10px;
}
.tooltip.md.dup-obj {
    margin-left: 50px;
    margin-top: 25px;
}
.tooltip.md.del-obj {
    margin-left: 50px;
    margin-top: 25px;
}
.tooltip.md.rename-obj {
    margin-left: 10px;
    margin-top: 35px;
}
.tooltip.md.del-obj {
    margin-left: -20px;
    margin-top: 35px;
}
.tooltip.md.del-all-obj {
    margin-left: -50px;
    margin-top: 35px;
}
.tooltip.md.arr-up {
    margin-left: -150px;
    margin-top: 35px;
}
.tooltip.md.arr-down {
    margin-left: -150px;
    margin-top: 35px;
}
.tooltip.md.resc {
    margin-left: -60px;
    margin-top: 10px;
    width: 60px !important;
}
